@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* homepage section */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 2rem;
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 8px;
    background: #3d28ff;
}

header {
    position: fixed;
    width: 100%;
    background: #688FE5;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: white;
    font-size: 500;
    background: transparent;
    border-radius: 20px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: white;
    background: #3d28ff;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

.home-section {
    min-height: 100vh;
    background: #688FE5;
}

.home-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}

.home-section .home-details .title {
    font-size: 2.3rem;
    color: #ff5100;
    font-family: "Roboto", sans-serif;
}

.home-section .home-details .subtitle {
    margin-top: 8px;
    font-size: 2rem;
    max-width: 70%;
    font-weight: 600;
}

.home-section .home-details .description {
    font-size: 1.12rem;
    margin: 24px 0 40px;
    max-width: 70%;
}

.home-section .home-details .buttons {
    display: flex;
    gap: 23px;
}

.home-section .home-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    background: #3d28ff;
    transition: 0.3s ease;
}

.home-section .home-details .button:hover,
.home-section .home-details .contact-us {
    color: white;
    border-color: white;
    background: transparent;
}

.home-section .home-details .contact-us:hover {
    color: white;
    border-color: #3d28ff;
    background: #3d28ff;
}

.home-section .home-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* about us section */

.about-section {
    padding: 120px 0;
    background: white;
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: justify;
    font-size: 1.12rem;
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: #688FE5;
    font-size: 1.5rem;
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: #1500d4;
}

/*  product section */
.product-section {
    background-color: #252525;
    color: white;
    padding: 50px 0 100px;
}

.product-section .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;
}

.product-section .product-list .product-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.product-section .product-list .product-item .product-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.product-section .product-list .product-item .product-image .name {
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.product-section .product-list .product-item .text {
    font-size: 1.12rem;
}

/* contact us section */
.contact-section {
    padding: 50px 0 100px;
    background: white;
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: 1.12rem;
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
}

.contact-section .contact-form {
    max-width: 50%;
}

.contact-section .contact-form .form-input:focus {
    border-color: #3d28ff;
}

.contact-section .contact-form textarea {
    height: 100px;
    padding: 12px;
    resize: none;
}

.contact-section .contact-form .submit-button {
    background: #688FE5;
    padding: 10px 26px;
    color: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.12rem;
    border: 1px solid #688FE5;
    transition: 0.3 ease;
}

.contact-section .contact-form .submit-button:hover {
    color: #688FE5;
    background: transparent;
}

@media screen and (max-width: 1024px) {
    .product-section .product-list{
        gap: 60px;
    }

    .product-section .product-list .product-item {
        width: calc(100% / 3 - 60px);
    }
}

@media screen and (max-width: 900px) {
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
        transition: left 0.2s ease;
        z-index: 999;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: 1.3rem;
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        display: none;
    }

    body.show-mobile-menu #menu-close-button {
        display: block;
    }

    .navbar #menu-open-button {
        color: white;
        display: block;
    }

    .navbar .nav-menu .nav-link {
        color: black;
        display: block;
        margin-top: 17px;
        font-size: 1.3rem;
    }

    .hero-section .section-content {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 50px;
        padding: 30px 20px 20px;
    }

    .hero-section .hero-details :is(.subtitle, .description) , .about-section .about-details, .contact-selection .contact-form{
        max-width: 100vh;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content {
        flex-direction: column;
        gap: 70px;

    }
    .about-section .about-image-wrapper .about-image {
        width: 100vh;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .menu-section .menu-list{
        gap: 30px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }

    .contact-section .section-content {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    .product-section .product-list .product-item {
        width: 100%;
    }

    .product-section .product-list{
        gap: 60px;
    }
}